.contianer {
    min-width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
}

.top {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    flex-basis: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 3px;
}

.close_button {
    text-shadow: 0 0 0 black;
    color: transparent;
    cursor: pointer;
    user-select: none;
    transition: text-shadow 0.2s;
}

.close_button:hover {
    text-shadow: 0 0 0 rgb(53, 52, 52);
}

.body {
    flex: 1;
    background-color: white;
    user-select: none;
    padding: 10px;
    direction: rtl;
    align-items: center;
    justify-content: center;
}

.body > div {
    text-align: center;
    padding: 20px 0px;
    color: black
}

.bottom {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.button {
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none;
}

.ok_button {
    background-color: #1579F2;
    color: white;
}

.ok_button:hover {
    background-color: #0963d1;
}





